<h2 class = "news-title"><span class = "news-title__text">Resto news</span></h2>
<div class = news-container>
	<div class = "news-item" ng-repeat = "item in newsCtrl.news track by $index">
		<img class = "news-item-pic" ng-src = "{{item.pic}}">
		<div class = "news-item-descr">
			<h2 class = "news-item-descr__headline">{{item.headline}}</h2>
			<p class = "news-item-descr__sub">{{item.text}}</p>
			<button class = "news-item-descr__button" ui-sref="newsfull({id: $index})"><span>Read more</span></a>
		</div>
		
	</div>
</div> 

